html,
body {
  margin: 0;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
}



/* center button */
#center {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}


button {
 /* add button down 10 pixels */
 position: absolute;
 top: 20%;
 left: 50%;
 transform: translate(-50%, -50%);
  margin-top: 35px;
}


#center2{
 
    /* add button down 10 pixels */
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
     margin-top: 65px;
   
  
}
