html,
body {
  margin: 0;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
}



/* center button */
#center {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

/* // Put the button in the left center */
button {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

/*button {
  add button down 10 pixels 
 position: absolute;
 top: 20%;
 left: 50%;
 transform: translate(-50%, -50%);
  margin-top: 35px;
}*/


#center2{
 
    /* add button down 10 pixels */
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    margin-top: 35px;
   
  
}



#center3{
 
  /* add button down 10 pixels */
  position: absolute;
  top: 30%;
  left: 9%;
  transform: translate(-50%, -50%);
  margin-top: 35px;
 

}

#center4{
 
  /* add button down 10 pixels */
  position: absolute;
  top: 10%;
  left: 9%;
  transform: translate(-50%, -50%);
  margin-top: 35px;
 

}

body {
  background: #ffffff ;
}
/* #303035; #23262C*/