@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-light::-webkit-scrollbar,
.scroll-dark::-webkit-scrollbar {
  @apply w-1;
}

.scroll-light::-webkit-scrollbar-track {
  @apply bg-neutral-10;
}

.scroll-light::-webkit-scrollbar-thumb {
  @apply rounded-full bg-neutral-30;
}

.scroll-dark::-webkit-scrollbar-track {
  @apply bg-[#2A2B2F];
}

.scroll-dark::-webkit-scrollbar-thumb {
  @apply rounded-full bg-neutral-80;
}

.progress-bar {
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.progress-marker-transition {
  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

/* Hide scrollbars completely */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


